/* CreateButton */
.dwlvNd {
  top: 50px !important;
}

/* Header */
#gb {
  height: 36px;
  -webkit-app-region: drag;
}

/* Header -> Button */
#gb .Cd9hpd,
#gb .U26fgb {
  height: 32px;
}

/* Header -> Label */
#gb .gb_Wc {
  line-height: 36px;
}

/* Header -> Button -> Label */
#gb .U26fgb .GXlaye .snByac {
  margin: 6px 12px;
}

/* Header -> SearchWrap */
#gb .gb_Ie {
  height: 32px;
}

/* Header -> SearchWrap -> SearchBody */
#gb .gb_Ie .gb_wf {
  height: auto;
}

/* Header -> SearchWrap -> SearchBody -> Icon */
#gb .gb_Ie .gb_Ve button svg {
  padding: 2px;
}

/* Header -> Wrap */
#gb > .gb_Ld {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 73px;
}

/* Header -> Wrap -> 3MenuWrap */
#gb > .gb_Ld .gb_Kd {
  min-width: auto !important;
  height: 36px;
}

/* Header -> Wrap -> 3MenuWrapLeft */
#gb > .gb_Ld .gb_Kd.gb_Zc {
  padding-right: 0;
}

/* Header -> Wrap -> 3MenuWrapLeft -> DrawerButton */
#gb > .gb_Ld .gb_Kd.gb_Zc .gb_vc {
  margin: 4px;
  padding: 2px;
}

/* Header -> Wrap -> 3MenuWrapLeft -> Logo */
#gb > .gb_Ld .gb_Kd.gb_Zc .gb_oc {
  display: none;
}

/* Header -> Wrap -> 3MenuWrapCenter -> Center-Wrap */
#gb > .gb_Ld .gb_Kd.gb_Xd .gb_xe {
  height: auto;
}

/* Header -> Wrap -> 3MenuWrapCenter -> Search/Help/Config */
#gb > .gb_Ld .gb_Kd.gb_Xd .h8Aqhb,
#gb > .gb_Ld .gb_Kd.gb_Xd .Ewn2Sd {
  margin: 0;
  padding: 4px;
}

/* Header -> Wrap -> 3MenuWrapCenter -> Search/Help/Config Body */
#gb > .gb_Ld .gb_Kd.gb_Xd .rF3YF.EwnKv {
  width: 32px;
}

/* Header -> Wrap -> 3MenuWrapCenter -> MonthIndicator */
#gb > .gb_Ld .gb_Kd.gb_Xd .bQnbhf {
  padding: 4px 8px;
}

/* Header -> Wrap -> 3MenuWrapRight -> GoogleAppMenu -> Button */
#gb > .gb_Ld .gb_Kd.gb_Zd .gb_Pc .gb_D {
  padding: 4px;
  width: 32px;
  height: 32px;
}

/* Header -> Wrap -> 3MenuWrapRight -> AccountButton -> CompanyIcon */
#gb > .gb_Ld .gb_Kd.gb_Zd .gb_ja .gb_na {
  padding: 0 6px;
  height: 30px;
}

#gb > .gb_Ld .gb_Kd.gb_Zd .gb_ja .gb_na img {
  vertical-align: top;
  width: auto;
  height: 30px;
}

/* Header -> Wrap -> 3MenuWrapRight -> AccountButton -> UserIcon */
#gb > .gb_Ld .gb_Kd.gb_Zd .gb_ja .gb_Oa {
  padding: 0;
}

/* Header -> Wrap -> 3MenuWrapRight -> AccountButton -> UserIconButton */
#gb > .gb_Ld .gb_Kd.gb_Zd .gb_ja .gb_D {
  padding: 0;
  width: 30px;
  height: 30px;
}
